/*-----------------------------------------------------------------------------------

    CSS INDEX
    ===================
    1. Theme Default CSS (body, link color, section etc)
    2. Google Fonts
    3. Header
    4. Main Menu
    5. Slider
    6. about-section
    7. What happen area
    8. speaker section
    9. Full Width Video Area
    10. pricing table area
    11. special offer
    12. counter section
    13. call to acton
    14. map area
    15. information area
    16. footer area
    17. Home-02
    18. slider-02
    19. event apps
    20. total feed
    21. testimonial-02 area
    22. timeline
    23. breadcrumb
    24. widhget
    25. single-blog
    26. comments
    27. event details
    28. event shedule area
    29. sicky menu
    30. Home varsion
    31. Scroll UP
-----------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
/*----------------------------------------*/
/*  2.  Google Fonts
/*----------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Montserrat|Poppins:400,700|Source+Sans+Pro:400,700';

.container { width: 1200px }
html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #555;
    line-height: 25px;
}
.floatleft { float: left }
.floatright { float: right }
.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0px solid }
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
p { margin: 0 0 15px }
h1,
h2,
h3,
h4,
h5,
h6 { margin: 0 0 10px }
h1 { font-family: 'Poppins', sans-serif }
a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #555;
}
a:hover {
    color: #ff004d;
    text-decoration: none;
}
a:active,
a:hover { outline: 0 none }
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.clear { clear: both }
body { }
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.pt5 { padding-top: 5px }
.pt10 { padding-top: 10px }
.pb10 { padding-bottom: 10px }
.pt15 { padding-top: 15px }
.pb15 { padding-bottom: 15px }
.pt20 { padding-top: 20px }
.pb20 { padding-bottom: 20px }
.pt25 { padding-top: 25px }
.pb25 { padding-bottom: 25px }
.pt30 { padding-top: 30px }
.pb30 { padding-bottom: 30px }
.pt40 { padding-top: 40px }
.pb40 { padding-bottom: 40px }
.pt50 { padding-top: 50px }
.pb50 { padding-bottom: 50px }
.pt80 { padding-top: 80px }
.pt90 { padding-top: 90px }
.pb90 { padding-bottom: 90px }
.mt5 { margin-top: 5px }
.mt10 { margin-top: 10px }
.mb10 { margin-bottom: 10px }
.mt15 { margin-top: 15px }
.mb15 { margin-bottom: 15px }
.mt20 { margin-top: 20px }
.mb20 { margin-bottom: 20px }
.mt25 { margin-top: 25px }
.mb25 { margin-bottom: 25px }
.mt30 { margin-top: 30px }
.mb30 { margin-bottom: 30px }
.mt40 { margin-top: 40px }
.mb40 { margin-bottom: 40px }
.mt50 { margin-top: 50px }
.mb50 { margin-bottom: 50px }
.mtb50 { margin: 50px 0 }
.mt55 { margin-top: 55px }
.mb55 { margin-bottom: 55px }
.mt70 { margin-top: 70px }
.mb70 { margin-bottom: 70px }
.mt90 { margin-top: 90px }
.mb90 { margin-bottom: 90px }
.pt85 { padding-top: 85px }
.pb85 { padding-bottom: 85px }
.pb90 { padding-bottom: 90px }
.pb90 { padding-bottom: 90px }
.ptb90 { padding: 90px 0 }
.mt100 { margin-top: 100px }
.mb100 { margin-bottom: 100px }
.pt100 { padding-top: 100px }
.pb100 { padding-bottom: 100px }
.ptb100 { padding: 100px 0 }
.uppercase { text-transform: uppercase }
/* bg color */
.off-white { background: #f9f9f9 }
.wrapper { background: #fff }

/*----------------------------------------*/
/* 3.  Header
/*----------------------------------------*/
.header-top {
    color: #999;
    font-size: 13px;
}
.phone { float: left }
.email {
    float: left;
    margin-left: 30px;
}
.header-top i {
    margin-right: 10px;
    font-size: 20px;
}
.login { float: left }
.register {
    float: left;
    margin-left: 30px;
}
.login-register { float: right }
.header-top {
    color: #ddd;
    font-size: 13px;
    height: 50px;
    line-height: 48px;
    background: rgba(0,0,0,0.2);
}
.header-top a { color: #ddd }
.header-top a:hover { color: #ff004d }
/*----------------------------------------*/
/* 4. Main Menu
/*----------------------------------------*/
ul li { display: inline-block }
.main-menu ul li a { color: #ddd }
.logo-menu-area { padding: 35px 0 }
.main-menu ul li { margin-right: 40px }
.main-menu ul li:last-child { margin: 0 }
.header-area {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}
.main-menu ul li a:hover { color: #ff004d }
.main-menu li.current a { color: #ff004d }
/* slider */
.header-slider-area { position: relative }
.nivo-caption {
    background: transparent none repeat scroll 0 0;
    bottom: auto;
    color: #fff;
    height: auto;
    left: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    overflow: hidden;
    padding: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.slide1-text p {
    font-size: 18px;
    line-height: 48px;
    padding: 0;
    text-transform: uppercase;
}
.slide1-text .cap-title h1 {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 46px;
    line-height: 44px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}
.event-date {
    float: left;
    margin-right: 30px;
}
.event-location { float: left }
.date-address i {
    font-size: 20px;
    margin-right: 15px;
}
.date-address {
    line-height: 48px;
    margin: 10px 0;
    overflow: hidden;
}
.nivoSlider img { height: 100vh !important }
/* btn-style */
a.btn-def {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    color: #f1f1f1;
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase;
}
a.btn-def:hover {
    background: #ff004d none repeat scroll 0 0;
    border: 1px solid #ff004d;
    color: #fff;
}
a.btn-def.bnt-2 {
    border: 1px solid #555;
    color: #555;
    padding: 10px 20px;
}
a.btn-def.bnt-2:hover {
    border: 1px solid #ff004d;
    color: #f1f1f1;
}
a.btn-def.bnt-2.small { padding: 10px 20px }
a.btn-def.bnt-2.big {
    line-height: 16px;
    padding: 11px 75px;
}
.btn-def.bnt-3.red-color {
    background: #ff004d none repeat scroll 0 0;
    border-color: #ff004d;
    color: #fff;
    padding: 9px 33px;
}
.btn-def.bnt-3.red-color:hover {
    background: transparent none repeat scroll 0 0;
    color: #ff004d;
}
/* end btn style */
/*----------------------------------------*/
/* 5. Slider
/*----------------------------------------*/
.slider-btn { padding-top: 10px }
.down-arrow {
    bottom: 30px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 99;
}
.down-arrow a {
    border: 1px solid #f1f1f1;
    border-radius: 100%;
    height: 50px;
    line-height: 46px;
    text-align: center;
    width: 50px;
    display: block;
    color: #f1f1f1;
}
.down-arrow a:hover {
    border: 1px solid #ff004d;
    background: #ff004d;
    color: #f1f1f1;
}
.home-02 .down-arrow { display: none }
/*----------------------------------------*/
/* 6. about-section
/*----------------------------------------*/
.section-title {
    color: #555555;
    font-size: 33px;
    line-height: 30px;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.sub-title {
    color: #555555;
    font-family: montserrat;
    font-size: 18px;
}
.descp > p {
    color: #888888;
    line-height: 25px;
    margin: 0;
}
.about-step { margin-bottom: 20px }
.about-top { margin-bottom: 40px }
.total-step {
    border-left: 2px solid #aaaaaa;
    padding-left: 40px;
}
.about-step:last-child { margin: 0 }
.about-right > ul li {
    color: #555;
    display: block;
    font-size: 18px;
    line-height: 50px;
}
.about-right > ul li i {
    font-size: 22px;
    margin-right: 15px;
}
.about-btn { margin-top: 15px }
.about-right {
    border: 10px solid #f7f7f7;
    padding: 35px 40px 50px;
}
.nav.happen-tab { position: relative }
.nav.happen-tab:before {
    background: #999999 none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}
/*----------------------------------------*/
/* 7. What happen area
/*----------------------------------------*/
.tab-menu-list ul li {
    display: inline-block;
    margin-right: 25px;
}
.tab-menu-list li a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #999;
    border-radius: 4px;
    color: #555;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 30px;
}
.tab-menu-list li.active a,
.tab-menu-list li:hover a {
    background: #ff004d none repeat scroll 0 0;
    color: #fff;
    border-color: #ff004d;
}
.happen-icon {
    float: left;
    font-size: 40px;
    line-height: 35px;
    text-align: center;
    width: 70px;
}
.happen-time-date > h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.happen-time-date { display: inline-block }
.happen-time-date > p {
    color: #888888;
    margin: 0;
}
.happen-heading {
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 30px;
}
.happen-text > p {
    line-height: 14px;
    margin-bottom: 10px;
}
.happen-text {
    display: inline-block;
    padding: 40px 20px;
}
.happen-img {
    float: left;
    width: 150px;
}
.happen-top {
    background: #fff none repeat scroll 0 0;
    padding: 20px 10px;
}
/*----------------------------------------*/
/* 8. speaker section
/*----------------------------------------*/
.social-icon li a {
    border: 1px solid #dddddd;
    border-radius: 4px;
    color: #999999;
    display: block;
    font-size: 20px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    width: 45px;
}
.speaker-deg {
    line-height: 20px;
    margin-bottom: 10px;
}
.speaker-name {
    color: #333;
    margin-bottom: 5px;
}
.single-speaker > img {
    border-radius: 100%;
    margin-bottom: 25px;
}
.social-icon li { margin-right: 15px }
.social-icon li a:hover {
    background: #ff004d none repeat scroll 0 0;
    border: 1px solid #ff004d;
    color: #fff;
}
.single-speaker {
    background: #f9f9f9 none repeat scroll 0 0;
    padding: 30px 15px;
}
.shadow-box {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.shadow-box:hover { box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2) }
.social-icon li:last-child { margin: 0 }
.total-speaker .col-md-12 { padding: 15px }
.crasoule-btn .owl-controls .owl-buttons div {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #999;
    color: #999;
    font-size: 20px;
    height: 40px;
    left: -45px;
    line-height: 35px;
    margin: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 40px;
}
.crasoule-btn .owl-controls .owl-buttons div:hover {
    border: 2px solid #ff004d;
    color: #ff004d;
}
.crasoule-btn:hover .owl-controls .owl-buttons div {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.crasoule-btn .owl-controls .owl-buttons .owl-next {
    left: auto;
    right: -45px;
}
.owl-theme .owl-controls { margin-top: 0 }
.sue-pic > img { border-radius: 100% }
.sue-pic {
    float: left;
    text-align: center;
    width: 225px;
}
.sue-date-time {
    display: inline-block;
    padding: 43px 0;
}
.sue-date-time span { display: block }
.uc-icon {
    float: left;
    font-size: 45px;
    width: 23%;
    padding-top: 13px;
}
.uc-event-title > a {
    color: #555;
    float: left;
    padding-top: 10px;
    width: 77%;
}
.single-upcomming {
    background: #fff none repeat scroll 0 0;
    float: left;
    margin-bottom: 50px;
    min-height: 180px;
    padding: 15px 0;
    width: 100%;
}
.uc-event-title {
    overflow: hidden;
    padding-top: 45px;
}
.venu-no { padding-top: 65px }
.upcomming-ticket { padding-top: 55px }
.uc-event-title > a:hover { color: #ff004d }
.single-upcomming:last-child { margin: 0 }
.all-events i { margin-left: 15px }
.all-events {
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 50px;
    line-height: 47px;
}
.right-app {
    background: rgba(0, 0, 0, 0) url("img/app-bg.png") no-repeat scroll 0 0 / cover;
    border-left: 1px solid #aaa;
    overflow: hidden;
    padding: 55px 100px 75px;
}
.apps-cont {
    border: 1px solid #aaa;
    overflow: hidden;
}
.left-app {
    background-color: #fff;
    float: left;
    max-width: 100%;
    padding: 40px 100px 0 49px;
}
.right-app > p {
    line-height: 25px;
    margin: 0;
}
.app-store > a { display: inline-block }
.app-store a+a { margin-left: 25px }
.app-store { margin-top: 35px }
.right-app h1 {
    line-height: 30px;
    margin-bottom: 20px;
}
/*----------------------------------------*/
/* 9. Full Width Video Area
/*----------------------------------------*/
#video-bg { width: 100% }
.ready-to-play {
    height: 400px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.rule-text {
    background: rgba(0, 0, 0, 0) url("img/bg/video-bg.jpg") no-repeat scroll center center;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    color: #fff;
}
.get-here-text {
    background: white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    color: #565656;
}
.tb-t {
    display: table;
    height: 100%;
    margin: auto;
    width: 560px;
}
.tb-c {
    display: table-cell;
    vertical-align: middle;
}
#polina button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 100%;
    color: #999999;
    font-size: 60px;
}
.video-text h4 { margin-bottom: 15px }
.video-text h1 { margin-bottom: 25px }
.video-text p { margin: 25px 0 0 }
/*----------------------------------------*/
/* 10. pricing table area
/*----------------------------------------*/
.single-pricing-table { background: #f9f9f9 none repeat scroll 0 0 }
.adv-area li {
    color: #333;
    display: block;
    line-height: 30px;
    position: relative;
}
.adv-area li:before {
    content: "";
    font-family: material-design-iconic-font;
    padding-right: 20px;
}
.adv-area li.disable:before { content: "" }
.adv-area li.disable {
    color: #aaaaaa;
    cursor: no-drop;
}
.price-tag span {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: inline-block;
    font-size: 18px;
    height: 60px;
    line-height: 56px;
    position: relative;
    width: 260px;
    z-index: 5;
}
.price-icon {
    border: 5px solid #ddd;
    border-radius: 100%;
    display: inline-block;
    height: 105px;
    line-height: 90px;
    position: relative;
    text-align: center;
    top: -10px;
    width: 105px;
    z-index: 1;
}
.adv-area > ul {
    display: inline-block;
    text-align: left;
}
.adv-area {
    border: 1px solid #dddddd;
    padding: 25px 0;
}
/* testimonial */
.single-testimonial {
    margin: auto;
    width: 575px;
}
.single-testimonial h1 { line-height: 28px }
.author-deg { margin-bottom: 30px }
.header-bdr h1 { position: relative }
.header-bdr h1:after {
    background: #555 none repeat scroll 0 0;
    bottom: -20px;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 30px;
}
.author-img> img { border-radius: 100% }
.slider-pegi.owl-theme .owl-controls .owl-page span {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #555;
    border-radius: 100%;
    height: 10px;
    margin: 5px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    width: 10px;
}
.slider-pegi.owl-theme .owl-controls .owl-page.active span,
.slider-pegi.owl-theme .owl-controls .owl-page:hover span {
    background: #ff004d none repeat scroll 0 0;
    border-color: #ff004d;
}
.testi-border .owl-pagination { position: relative }
.testi-border .owl-pagination:after {
    background: #999 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 170px;
}
/*----------------------------------------*/
/* 11. special offer
/*----------------------------------------*/
.special-wrap {
    margin: auto;
    text-align: center;
    width: 750px;
}
.special-wrap h4 { margin-bottom: 20px }
.special-wrap > p { margin-bottom: 25px }
.special-offer-area { background: rgba(0, 0, 0, 0) url("img/bg/special-bg.jpg") no-repeat scroll 0 0 / cover }
.white-color { color: #fff }
.brand-area {
    background: rgba(0, 0, 0, 0) url("img/bg/brand-bg.jpg") no-repeat scroll 0 0 / cover;
    padding: 40px 0;
}
.single-brand {
    padding: 60px 0;
    text-align: center;
}
.single-brand > img { 
    padding: 0 10px
}
.bg-overlay {
    position: relative;
    z-index: 1;
}
.bg-overlay:before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.white-overlay:before {
    background: #fff none repeat scroll 0 0;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.slider-container.bg-overlay { z-index: 2 }
.slider-container.bg-overlay:before {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    z-index: 6;
}
.breadcumb-area.bg-overlay:before {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
/*----------------------------------------*/
/* 12. counter section
/*----------------------------------------*/
.count-icon { margin-bottom: 10px }
.count-icon > img { border-radius: 100% }
.single-count h3 {
    display: inline-block;
    font-size: 18px;
    margin: 0;
}
.single-count p {
    display: inline-block;
    margin: 0;
    font-size: 18px;
}
.animate-eff {
    position: relative;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.animate-eff:before {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 10px;
    content: "";
    left: 10px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 10px;
    -webkit-transform: scaleX();
    transform: scaleX();
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.animate-eff:hover:before {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1);
    transform: scale(1);
}
.animate-eff a:after {
    border-radius: 100%;
    bottom: 0;
    color: #fff;
    content: "\f18e";
    display: block;
    font-family: material-design-iconic-font;
    font-size: 35px;
    height: 60px;
    left: 0;
    line-height: 60px;
    margin: auto;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 60px;
    z-index: 2;
    border: 2px solid #fff;
}
.animate-eff a:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1);
    transform: scale(1);
    visibility: visible;
}
.news-contant h3 {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 5px;
}
.news-img { margin-bottom: 20px }
.news-bottom {
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 2px;
    padding: 10px;
}
.news-bottom a {
    color: #999;
    font-size: 13px;
    margin-right: 15px;
}
.news-bottom a:hover { color: #ff004d }
.news-bottom a i {
    font-size: 15px;
    margin-right: 5px;
}
.read-more { float: right }
.recent-news-area .section-title {
    line-height: 28px;
    margin: 0;
}
.single-news { padding-bottom: 10px }
/*----------------------------------------*/
/* 13. call to acton
/*----------------------------------------*/
.cal-to-wrap {
    margin: auto;
    text-align: center;
    width: 740px;
}
input {
    border: 1px solid #555555;
    border-radius: 4px;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
}
.input-box { display: inline-block }
.cal-to-wrap input {
    width: 460px;
    float: left;
}
.send-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #555;
    border-radius: 4px;
    color: #ff004d;
    font-size: 25px;
    height: 45px;
    margin: 0;
    padding: 0;
    width: 60px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.send-btn:hover {
    background: #ff004d;
    border-color: #ff004d;
    color: #fff;
}
.cal-to-wrap .send-btn { margin-left: 30px }
.call-to-action { background: rgba(0, 0, 0, 0) url("img/bg/call-to-bg.jpg") repeat scroll 0 0 / cover }
.call-to-action .section-title { line-height: 60px }
/*----------------------------------------*/
/* 14. map area
/*----------------------------------------*/
/* input reset code */
input:-moz-placeholder,
textarea:-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/* input reset code */
#googleMap {
    width: 100%;
    height: 450px;
}
.map-content {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    width: 510px;
    height: 100%;
}
.map-content input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -o-border-image: none;
    border-image: none;
    border-left: medium none;
    border-radius: 0;
    border-right: medium none;
    border-top: medium none;
    display: block;
    width: 100%;
    background: transparent;
    height: 55px;
}
.map-content .input-box input {
    border-bottom: 1px solid #eee;
    color: #999;
}
.map-content .input-box { display: block }
textarea { width: 100% }
.map-content textarea {
    border: medium none;
    height: 100px;
    padding: 10px;
    resize: none;
    background: transparent;
    color: #999;
}
.map-content textarea.area-text { border-bottom: 1px solid #eee }
.map-area.mt100 {
  margin: 0;
}
.content-body {
    background: transparent none repeat scroll 0 0;
    padding: 35px 100px 50px;
    max-height: 450px;
}
.upload-box { overflow: hidden }
.upload-box input[type="file"] {
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0;
    z-index: -2;
}
.upload-box input[type="file"] + label {
    background: #dddddd none repeat scroll 0 0;
    border-radius: 3px;
    cursor: pointer;
    height: 37px;
    float: left;
    margin: 0;
}
.upload-box input[type="file"] + label span {
    border-right: 1px solid #6d6d6d;
    display: block;
    float: left;
    font-weight: 400;
    line-height: 37px;
    padding: 0 22px 0 21px;
}
.upload-box input[type="file"] + label i {
    display: block;
    float: left;
    line-height: 37px;
    font-size: 20px;
    padding: 0 10px 0 9px;
}
input.submit {
    width: 100%;
    border-radius: 3px;
    float: right;
    height: 37px;
    line-height: 37px;
    background: #dddddd;
}
.content-body p {
    color: #fff;
    margin-top: 20px;
}
.content-body p span { color: #999 }
.input-box.upload-box > span {
    color: #fff;
    text-transform: uppercase;
    padding: 6px 5px 6px 12px;
    float: left;
}
.map-area { position: relative }
.map-content {
    position: absolute;
    right: 15%;
    top: 0;
}
.map-content .input-box input.submit {
    color: #555;
    margin-top: 30px;
}
p.form-messege { 
    margin: 15px 0 0 0;
    text-align: center;
}
p.success { color: green }
p.error { color: red }
/*----------------------------------------*/
/* 15. information area
/*----------------------------------------*/
.info-icon {
    font-size: 40px;
    margin-bottom: 10px;
}
.single-information > p { margin-bottom: 5px }
.single-information p:last-child { margin: 0 }
/*----------------------------------------*/
/* 16. footer area
/*----------------------------------------*/
.footer-area {
    background: #1b1b1b none repeat scroll 0 0;
    height: 80px;
    line-height: 78px;
}
.social-area li a {
    color: #fff;
    font-size: 20px;
    padding-right: 20px;
}
.social-area li a:hover { color: #ff004d }
.payment-area { text-align: right }
.payment-area li { padding-right: 15px }
/*----------------------------------------*/
/* 17. Home-02
/*----------------------------------------*/
.header-2 {
    background: #000 none repeat scroll 0 0;
    position: static;
}
.search {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
}
.search-bar {
    padding-right: 15px;
    border-right: 1px solid #fff;
    margin-right: 15px;
}
.search-account { text-align: right }
.search-account .search-bar { position: relative }
.search-bar > input {
    border: medium none;
    border-radius: 4px;
    height: 35px;
    padding: 0;
    position: absolute;
    right: 40px;
    top: -6px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 0;
}
.search-account form:hover .search-bar > input {
    width: 180px;
    padding: 0 0 0 10px;
}
.search-account i {
    color: #dddddd;
    font-size: 20px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.search-account i:hover { color: #ff004d }
/*----------------------------------------*/
/* 18. slider-02
/*----------------------------------------*/
.map-content.slider-form-content {
    background: rgba(255,255,255, 0.8) none repeat scroll 0 0;
    width: auto;
    border-radius: 4px;
    position: static;
    right: auto;
    top: auto;
}
.content-body.slider-form p {
    color: #333;
    margin: 0 0 35px;
    padding: 0;
}
.content-body.slider-form {
    max-height: 100%;
    padding: 50px 70px;
}
.map-content .slider-form .input-box input {
    border-bottom: 1px solid #777777;
    color: #777;
    height: 30px;
    margin-bottom: 30px;
}
.map-content .slider-form .input-box input.date { cursor: pointer }
.map-content .slider-form .input-box input.submit {
    background: #ff004d none repeat scroll 0 0;
    border: 1px solid #ff004d;
    color: #fff;
    display: inline-block;
    float: none;
    height: 45px;
    margin-bottom: 0;
    margin-top: 50px;
    width: 130px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.map-content .slider-form .input-box input.submit:hover {
    background: transparent;
    color: #ff004d;
}
.map-content .slider-form .input-box { text-align: center }
select {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #777;
    height: 30px;
    width: 100%;
}
.slider-form select {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-bottom: 1px solid #777;
    cursor: pointer;
}
.map-content .slider-form .input-box input.date { background: rgba(0, 0, 0, 0) url("img/icon/date-bg.png") no-repeat scroll right center }
.map-content .slider-form .input-box select { background: rgba(0, 0, 0, 0) url("img/icon/select.png") no-repeat scroll right center }
.slider-02 .slide1-text {
    margin-top: -63px;
    padding-top: 232px;
}
/*----------------------------------------*/
/* 19. event apps
/*----------------------------------------*/
.event-alart-apps-area h1 { font-size: 32px }
.event-alart-apps-area {
    color: #fff;
    background-size: cover;
    background: url(img/bg/special-bg.jpg);
}
.apps-cont2 { padding-right: 30px }
/* speaker 2*/
.single-speaker-2 > img {
    border-radius: 0;
    margin-bottom: 15px;
}
.single-speaker-2 { padding: 20px 15px }
.single-speaker-2 .speaker-name { margin-bottom: 10px }
.single-speaker-2 .speaker-deg { margin: 0 }
.social-icon-2 {
    border-top: 1px solid #dddddd;
    padding-top: 15px;
}
.social-icon-2 li a {
    border: none;
    height: auto;
    line-height: inherit;
}
.social-icon-2 li a:hover {
    background: inherit;
    border: none;
    color: #ff004d;
}
.speaker-btn i {
    font-size: 16px;
    position: relative;
    top: 2px;
    padding-right: 5px;
}
.speaker-btn { padding-top: 35px }
/*----------------------------------------*/
/* 20. total feed
/*----------------------------------------*/
.total-feed .news-img { margin: 0 }
.total-feed .single-news { padding-bottom: 0 }
.news-img img { width: 100% }
/*----------------------------------------*/
/* 21. testimonial-02 area
/*----------------------------------------*/
.author-info-02 > h4 {
    margin-bottom: 5px;
    color: #000;
}
.author-info-02 {
    background: url(img/icon/quote.png) no-repeat top 4px left;
    padding-left: 50px;
}
.total-testi-02 .owl-pagination { padding-top: 35px }
.blog-heading {
    border-bottom: 1px solid #999999;
    font-family: poppins;
    line-height: 27px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    color: #333333;
}
.blog-date {
    font-size: 13px;
    margin-bottom: 0;
    line-height: 20px;
}
.blog-date i { margin-right: 10px }
.blog-content { color: #999 }
.post-by {
    color: #666;
    font-size: 13px;
}
.post-by a {
    color: #999;
    margin-left: 5px;
}
.post-by a:hover { color: #ff004d }
.blog-text { margin: 0 }
.more { margin-top: 15px }
.total-blog .news-img { margin: 0 }
/*----------------------------------------*/
/* 22.timeline
/*----------------------------------------*/
.tab-menu-list.tml-02 li a {
    background: transparent none repeat scroll 0 0;
    color: #555555;
    font-family: poppins;
    font-size: 25px;
    height: 75px;
    line-height: 75px;
    padding: 0;
    width: 145px;
    background: #f7f7f7;
    border-color: #f7f7f7;
}
.tab-menu-list.tml-02 li.active a,
.tab-menu-list.tml-02 li a:hover { color: #fff }
.tab-menu-list.tml-02 ul li { margin-right: 0 }
.timeline-top i {
    font-size: 25px;
    position: relative;
    top: 2px;
}
.timeline-top li {
    line-height: 16px;
    padding-right: 20px;
}
.timeline-top li:last-child {
    border-left: 1px solid;
    padding-left: 20px;
}
.timeline-left > h4 {
    color: #777777;
    font-weight: 700;
}
.timeline-left > p {
    font-size: 13px;
    margin: 0;
}
.timeline-img {
    float: left;
    width: 150px;
}
.timeline-content {
    overflow: hidden;
    padding-left: 30px;
}
.timeline-content h5 {
    color: #333333;
    font-size: 15px;
    margin: 0;
    line-height: 20px;
}
.timeline-top {
    border-bottom: 1px solid #dddddd;
    display: inline-block;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.timeline-content > h4 { margin-bottom: 20px }
.timeline-content > p { margin-bottom: 20px }
.single-timeline {
    background: #f7f7f7 none repeat scroll 0 0;
    margin-bottom: 50px;
    overflow: hidden;
    padding: 45px 40px;
    position: relative;
}
.single-timeline:last-child { margin: 0 }
.timeline-left {
    float: left;
    width: 230px;
}
.timeline-right { overflow: hidden }
.total-timeline { position: relative }
.total-timeline:before {
    background-color: #999999;
    content: "";
    height: 100%;
    left: 198px;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 9;
}
.single-timeline:before {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #999999;
    border-radius: 50px;
    content: "";
    height: 30px;
    left: 184px;
    position: absolute;
    top: 50px;
    width: 30px;
    z-index: 999;
}
.single-timeline:after {
    background: #999999 none repeat scroll 0 0;
    border-radius: 50px;
    content: "";
    height: 16px;
    left: 191px;
    position: absolute;
    top: 57px;
    width: 16px;
    z-index: 999;
}
/* timeline */
/*----------------------------------------*/
/* 23.breadcrumb
/*----------------------------------------*/
.breadcumb-area {
    background: rgba(0, 0, 0, 0) url("img/bg/breadcumb.jpg") repeat scroll 0 0;
    padding: 150px 0;
    text-align: center;
}
.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 0;
    position: relative;
}
.breadcrumb > li + li:before {
    color: #fff;
    font-weight: 700;
    padding: 0 2px;
}
.breadcrumb a,
.breadcrumb li.active { color: #fff }
.breadcrumb li {
    font-family: popins;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.breadcrumb a:hover { color: #ff004d }
.breadcrumb:before,
.breadcrumb:after {
    background: #fff none repeat scroll 0 0;
    bottom: -20px;
    content: "";
    height: 6px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 60px;
}
.breadcrumb:after {
    background: #ff004d none repeat scroll 0 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 30px;
}
.single-news-02 { padding-bottom: 50px }
.col-md-6:nth-last-child(-n+2) .single-news-02 { padding: 0 }
/*----------------------------------------*/
/* 24.widhget
/*----------------------------------------*/
.search-widget .input-box input {
    border-color: #aaaaaa;
    color: #aaaaaa;
    font-size: 13px;
    height: 50px;
    position: relative;
    width: 100%;
}
.search-widget .input-box {
    display: block;
    position: relative;
}
.search-btn {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    font-size: 20px;
    line-height: 46px;
    padding: 0;
    position: absolute;
    right: 20px;
    color: #262626;
}
.search-btn:hover { color: #ff004d }
.aside-title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}
.catagory-widget li {
    background: #f5f5f5 none repeat scroll 0 0;
    display: block;
    margin-bottom: 1px;
}
.catagory-widget li a {
    display: block;
    line-height: 50px;
    padding: 0 20px;
}
.rec-blog-content .blog-date {
    font-size: 15px;
    margin-bottom: 10px;
}
.rec-blog-content > p { margin: 0 }
.rec-blog-content > img { margin-bottom: 15px }
.rec-blog-content { margin-bottom: 30px }
.rec-blog-content:last-child { margin: 0 }
.tag-widget a {
    border: 1px solid #999999;
    display: block;
    padding: 10px;
}
.tag-widget li {
    float: left;
    margin: 0 10px 10px 0;
}
/*----------------------------------------*/
/* 25. single-blog
/*----------------------------------------*/
.sb-img {
    background: #f5f5f5 none repeat scroll 0 0;
    overflow: hidden;
    padding: 10px;
}
.blog-meta {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    height: 45px;
    line-height: 45px;
}
.blog-meta li a {
    border-right: 1px solid #999999;
    color: #999;
    padding: 0 20px;
}
.blog-meta li a i {
    font-size: 20px;
    margin-right: 10px;
}
.blog-meta li a:hover { color: #ff004d }
.blog-meta li:last-child a { border: medium none }
.sb-img:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.sb-img img {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
}
blockquote {
    background: none;
    border-left: 5px solid #ff004d;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.blockqot {
    background: #fafafa none repeat scroll 0 0;
    padding: 20px;
}
.blockqot p {
    background: rgba(0, 0, 0, 0) url("img/icon/quote-2.png") no-repeat scroll left 15px top 4px;
    padding-left: 45px;
}
.support-team img { width: 100% }
.subject li {
    display: block;
    margin-bottom: 10px;
}
.subject li:before {
    color: #999999;
    content: "";
    font-family: material-design-iconic-font;
    font-size: 20px;
    padding-right: 10px;
    position: relative;
    top: 3px;
}
.single-blog-social {
    background: #f5f5f5 none repeat scroll 0 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.single-blog-social li a {
    color: #555;
    font-size: 25px;
}
.single-blog-social li a:hover { color: #ff004d }
.comments-area .aside-title {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
}
/*----------------------------------------*/
/* 26. comments
/*----------------------------------------*/
.commets-text h5 {
    font-size: 15px;
    margin-bottom: 0;
}
.signle-comments > img { float: left }
.commets-text {
    overflow: hidden;
    padding-left: 15px;
}
.signle-comments {
    display: block;
    margin-bottom: 40px;
    position: relative;
}
.commets-text > p {
    line-height: 20px;
    margin: 0;
}
.commets-text span {
    color: #999;
    font-size: 13px;
}
.replay {
    position: absolute;
    right: 0;
    top: 0;
}
.replay > a {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 4px;
    font-size: 13px;
    padding: 7px 14px;
}
.comments-body ul li.signle-comments:last-child { margin: 0 }
.comments-body ul li:nth-child(2n) { padding-left: 70px }
.leave-ib input {
    border-color: #e2e2e2;
    border-radius: 0;
    color: #c6c6c6;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    width: 100%;
}
.lyt-right .area-text {
    border: 1px solid #e2e2e2;
    height: 160px;
    resize: none;
    width: 100%;
    color: #c6c6c6;
    padding: 10px;
}
.post-comment input.submit {
    background: #333333 none repeat scroll 0 0;
    color: #fff;
    height: 40px;
    line-height: 37px;
    padding: 0 20px;
    width: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.post-comment input.submit:hover { color: #ff004d }
.input-box.post-comment { float: left }
/*----------------------------------------*/
/* 27. event details
/*----------------------------------------*/
.total-speaker-2 .single-speaker { margin-bottom: 50px }
.total-speaker-2 .col-md-3:nth-last-child(-n+4) .single-speaker { margin: 0 }
.event-about-btn .btn-def { float: left }
.event-about-btn a + a { margin-left: 40px }
.event-about-are { position: relative }
.event-about-img {
    background: rgba(0, 0, 0, 0) url("img/venue.jpg") no-repeat scroll right top;
    background-size: cover;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 700px;
}
/*----------------------------------------*/
/* 28. event shedule area
/*----------------------------------------*/
.event-shedule-left {
    background: #fff none repeat scroll 0 0;
    border-radius: 0 100px 100px 0;
    float: left;
    left: 0;
    padding: 20px 30px;
    position: absolute;
    width: 300px;
}
.panel-group .panel {
    background: transparent none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    overflow: hidden;
    padding-bottom: 45px;
    padding-left: 330px;
    padding-top: 20px;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.panel-group .panel.active { padding-bottom: 27px }
.panel-group .panel + .panel { margin-top: 30px }
.es-img > img {
    border-radius: 100%;
    height: 130px;
    width: 130px;
}
.es-img {
    margin-top: -65px;
    position: absolute;
    right: 0;
    top: 50%;
}
.es-text > p {
    color: #999;
    margin: 0;
}
.es-text > h4 { margin-bottom: 5px }
.shedule-meta li {
    font-weight: 700;
    margin-right: 20px;
    color: #555;
}
.shedule-meta li i {
    font-size: 20px;
    margin-right: 10px;
}
.panel-box {
    font-size: 15px;
    letter-spacing: 1px;
}
.shedule-head h4 {
    color: #333333;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.shedule-head h4:hover { color: #ff004d }
.panel:before {
    background: #dddddd none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 330px;
    position: absolute;
    width: 840px;
}
.shedule-head {
    float: left;
    margin-top: -20px;
    padding-bottom: 15px;
    padding-top: 0;
    position: relative;
    width: 100%;
}
.shedule-head.collapsed {
    margin-top: 0;
    padding-top: 20px;
}
.panel-collapse {
    float: left;
    width: 100%;
}
.shedule-head:after {
    content: "";
    font-family: material-design-iconic-font;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
}
.shedule-head.collapsed:after {
    content: "";
    top: 18px;
}
.shedule-head:focus { text-decoration: none }
.tab-menu-list-event ul li { float: left }
.tab-menu-list-event ul li a span {
    font-family: poppins;
    font-size: 33px;
    line-height: 1;
    margin-right: 15px;
    position: relative;
    top: 5px;
}
.tab-menu-list-event ul li a {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    font-size: 18px;
    padding: 20px 15px;
}
.tab-menu-list-event ul li + li { margin-left: 30px }
.tab-menu-list-event ul li a:hover { background: #fff none repeat scroll 0 0 }
.tab-menu-list-event .nav { display: inline-block }
.tab-menu-list-event ul li a:focus {
    background: #fff none repeat scroll 0 0;
    color: inherit;
}
/*----------------------------------------*/
/* 29. sicky menu
/*----------------------------------------*/
.logo-menu-area.stick {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    z-index: 999999999;
}
.mobile-menu-area { display: none }
.container.mean-container {
    position: relative;
    left: 15px;
}
.mean-container .mean-nav ul li a:hover { color: #ff004d }
#sticker {
    right: 0;
    left: 0;
}
.stick {
    position: fixed;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 99;
}
/*----------------------------------------*/
/* 30. Home varsion
/*----------------------------------------*/
/* parallex */
.parallex-slide,
.animate-slide {
    background: rgba(0, 0, 0, 0) url("img/slider/slider2.jpg") no-repeat fixed 0 0 / cover;
    height: 100vh;
}
.parallex-slider-text {
    color: #fff;
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}
.parallex-fixed { background-attachment: fixed }
/* Video */
.ready-to-play-2 { height: 100vh }
.video-slider-text {
    color: #fff;
    left: 0;
    position: absolute;
    top: 50%;
    z-index: 999;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
    right: 0;
}
.ready-to-play-2 { z-index: auto }
.video-slider-text .event-date,
.video-slider-text .event-location,
.animate-slider-text .event-date,
.animate-slider-text .event-location {
    float: none;
    display: inline-block;
}
/* Yourtube Video */
.compact { display: none !important }
.gradient-slide:after {
    position: absolute;
    background: url(img/bg/grid.png);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    content: "";
}
/* Animate Text */
.cd-headline.clip span { padding: 0 }
.boxed-layout .wrapper {
    box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
    margin: auto;
    position: relative;
    width: 1240px;
}
.boxed-layout #sticker.stick {
    left: auto;
    right: auto;
    margin: auto;
    width: 1240px;
}
.boxed-layout .nivoSlider img { height: auto !important }
.boxed-layout .ready-to-play-2 { height: 700px }
/*----------------------------------------*/
/*  31. Scroll UP
/*----------------------------------------*/
#scrollUp {
    background: #ff004d none repeat scroll 0 0;
    border: 1px solid #ffffff;
    bottom: 59px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    height: 45px;
    line-height: 40px;
    right: 50px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 45px;
}
#scrollUp:hover {
    background: #fff none repeat scroll 0 0;
    border-color: #ff004d;
    color: #ff004d;
}


/*----------------------------------------*/
/*  31. Love
/*----------------------------------------*/
.love {
    color: white;
}